@import url('http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400&subset=latin,cyrillic');

html {
	min-height: 100%;
	height: 100%;
}

body {
	background: #1e1e1e;
	font-family: "Roboto", Arial, sans-serif;
	min-height: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	color: #787878;
	text-rendering: optimizeLegibility
	-webkit-font-feature-settings: "kern"
}

::selection {
	background: #e89300;
	text-shadow: none;
	color: white;
}

/*body.ld-light {
	background: #f9f9f9;
}
*/
body.appID730.ld-dark.ld-background-image,
body.appID730.ld-light.ld-background-image {
	background: #1e1e1e url('http://i.imgur.com/CBURaP7.png') top center no-repeat;
}

/*body.appID730.ld-light.ld-background-image {
	background: #f9f9f9 url('http://i.imgur.com/Ps9Jvd3.png') top center no-repeat;
}*/

/*
* -- Dota2Lounge stylings
*/

body.appID570.ld-dark.ld-background-image,
body.appID570.ld-light.ld-background-image {
	background: #1e1e1e url('http://i.imgur.com/i3m8HzC.png') top center no-repeat;
}

/*body.appID570.ld-light.ld-background-image {
	background: #f9f9f9 url('http://i.imgur.com/ZHsP4k1.png') top center no-repeat;
}*/

.appID570 header > a:first-child:before {
	content: url('http://i.imgur.com/FBehcg8.png');	
}

.appID570 .item {
}

.appID570 .item .smallimg {
	margin: 0;
	width: 100%;
}

.appID570 #menu a {
	color: #72aa3a;
}

.appID570 a[class*="button"] {
	color: #72aa3a;
	border-color: #72aa3a;
}

.appID570 .button:hover,
.appID570 .buttonright:hover {
	color: #72aa3a;
}

.appID570 .button:hover,
.appID570 .buttonright:hover {
	background: #72aa3a;
	color: white;
}

.appID570 .simplePagerNav li.currentPage a,
.appID570 .simplePagerNav li.currentPage a:hover {
	background: #72aa3a;
}

.appID570 .box-shiny a:not([class]),
.appID570 .box-shiny-alt a:not([class]) {
	color: #72aa3a;
}

/*
* -- End: Dota2Lounge stylings
*/

i,
em {
	font-style: italic;
}

main {
	padding: 0;
	height: auto;
	max-width: 1896px;
	margin: auto;
	float: none;
}

/*
* -- Header
*/

header {
	background: radial-gradient(#3a3a3a 15%, #333333 85%);
	height: 74px;
	padding: 0;
	box-shadow: 0px 2px 15px rgba(0,0,0,0.15)

	-webkit-box-shadow: none;
	box-shadow: none;

	-webkit-user-select: none;
	user-select: none;
}

header > a:first-child {
	padding: 11px 12px;
	height: 74px;
	width: 148px;
	float: left;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all 0.1s;
	transition: all 0.1s;
}

#logo {
	content: url("http://i.imgur.com/eDJEQSN.png");
	display: inline-block;
	width: 124px;
	height: 50px;
}

header > a:first-child:hover {
	background: rgba(0,0,0,0.13);
}

header > a:first-child:active {
	background: rgba(0,0,0,0.23);
}

#menu {
	height: 100%;
}

#menu a {
	letter-spacing: 0.2px;
	text-shadow: none;
	padding: 7px 12px;
	font-size: 12px;
	height: 100%;
	float: left;
	color: #e89300;
	text-transform: uppercase;
	font-weight: bold;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all 0.1s;
	transition: all 0.1s;
}

#menu a:hover {
	background: rgba(0,0,0,0.25);
}

#menu a:active {
	background: rgba(0,0,0,0.4);
}

#menu a img {
	height: 40px;
}

#menu a img[alt="Profile"] {
	content: url('http://i.imgur.com/4r3TLTO.png');
}

#menu a img[alt="My Trades"] {
	content: url('http://i.imgur.com/syzm7aE.png');
}

#menu a img[alt="My Offers"] {
	content: url('http://i.imgur.com/uAEUdIF.png');
}

#menu a img[alt="My Bets"] {
	content: url('http://i.imgur.com/mAoUmpj.png');
}

#menu a img[alt="Bookmarks"] {
	content: url('http://i.imgur.com/2U3nn11.png');
}

#menu a img[alt="Search"],
#menu a img[alt="Se.carch"] {
	content: url('http://i.imgur.com/lWZTwy7.png');
}

#menu a img[alt="Add Trade"] {
	content: url('http://i.imgur.com/SwNnp3H.png');
}

#login, #logout {
	margin: 0;
	height: 74px;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 0 12px;
}

/*#login + .ddbtn, #logout + .ddbtn {
	display: none;
}*/

.ddbtn {
	margin: 22px 2px;
	width: 40px;
	height: 30px;
}

.ddbtn a {
	margin: 0 0 3px 0;
}

.ddbtn div {
	padding: 5px 4px 1px 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/*
* -- End: Header
*/

a {
	color: #e89300;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

#submenu {
	background: radial-gradient(#3a3a3a 15%, #333333 85%);
	position: fixed;
	width: 230px;
	bottom: 0;
	left: -249px;
	top: 0;
	z-index: 50;

	-webkit-transition: left 0.25s, opacity 0.25s;
}

#submenu .ld-collapse-toggle {
	position: absolute;
	right: -20px;
	display: inline-block;
	width: 20px;
	height: 30px;
	background: black;
}

#submenu.ld-collapsed {
	left: 0;
	opacity: 1;
}

#submenu:after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(255,255,255,0.03);
	height: 100%;
	width: 1px;
}

#submenu:before {
	content: '';
	display: inline-block;
	position: absolute;
	float: none;
	left: 230px;
	top: 0;
	height: 100%;
	width: 20px;
	background: linear-gradient(to right, rgba(0,0,0,0.4), transparent);
}

#submenu nav {
	width: 100%;
	margin: 0;
}

#submenu nav:after {
	content: '';
	background: linear-gradient(to bottom, rgba(0,0,0,0.07), transparent);
	display: block;
	height: 100px;
}

#submenu nav a {
	background: none;
	width: auto;
	display: block;
	text-shadow: 0 1px 0 rgba(0,0,0,0.3);
	line-height: 38px;
	padding: 0 14px;
	color: #e89300;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	border-top: none;
	box-shadow: inset 0 -1px 0 rgba(255,255,255,0.03);

	-webkit-transition: all 0.1s;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#submenu nav a:hover {
	background: #e89300;
	color: white;
	text-shadow: none;
	box-shadow: inset 0 0 20px rgba(255,255,255,0.1);
	border-bottom-color: #e89300;
	font-weight: bold;
}

#follow {
	padding: 15px 44.15px;
	display: inline-block;
	cursor: default;
	position: absolute;
	width: 100%;
	bottom: 45px;

	-webkit-box-sizing: border-box;
}

aside #follow a {
	width: 40px;
	background-image: url('http://i.imgur.com/3i6avYU.png');
}

#ftw, #ffb, #fvk {
	margin: 0 7px 0 0;
}

#ftw {
	background-position: 0 -40px;
}

#ftw:hover {
	background-position: 0 0;
}

#ffb {
	background-position: -80px -40px;
}

#ffb:hover {
	background-position: -80px 0;
}

#fvk {
	background-position: -40px -40px;
	margin: 0;
}

#fvk:hover {
	background-position: -40px 0;
}

footer {
	display: block;
	margin: 0;
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
}

footer span {
	text-align: center;
	line-height: 17px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

footer a:hover {
	text-decoration: underline;
}

/*
* -- Items
*/

.msgtxt a {
	text-shadow: none;
	color: #ff8a00;
}

#satrade .tradepoll {
	margin-top: 15px;
	min-height: 62px;
}

#satrade div[style*="font-size: 13px"] {
	line-height: 32px;
	margin: 0 13px 0 0;
}

#satrade .buttonright {
	margin: 0;
}

.tradepoll .left,
.tradepoll .right {
	background: #414141;
	margin-bottom: 0;
	min-height: 62px;
}

.tradepoll .oitm {
	width: 31%;
}

.bpheader {
	margin-top: 8px;
	text-transform: capitalize;
}

.tradecnt form.left,
.tradecnt form.right {
	background: radial-gradient(#3a3a3a 15%, #333333 85%);
}

.ld-main .oitm {
	max-width: 130px;
}

.box:nth-of-type(2) .oitm .name {
	right: 0;
	left: auto;
}

#betreturns .oitm,
#itemlist .oitm,
#backpack .oitm {
	margin: 4px .77%;
	width: 15.1%;
}

#freeze + .bpheader {
	padding: 0;
	background: none;
}

#freeze + .bpheader .button {
	float: right;
	margin-right: 3px;
}

.ld-match .winsorloses {
	max-width: none;
	width: 48%;
	margin: 0 0 20px 0;
}

.ld-match .winsorloses:after {
	content: '';
	display: table;
	clear: both;
}

.ld-match .winsorloses .oitm {
	margin: 4px .64%;
	width: 23.7%;
}

.ld-match .winsorloses:nth-child(odd) {
	margin-right: 4%;
}

.ld-match .winsorloses:nth-of-type(odd) .oitm .name {
	left: auto;
	right: 0;
}

#betpoll .left {
	background: #4a4a4a;
	width: 55.3%;
	margin: 10px auto;
	float: none;
}

#betpoll .left:after {
	content: '';
	display: table;
	clear: both;
}

#betpoll .left .oitm {
	width: 22.6%;
}

@media screen and (min-width: 1550px) {
	.ld-main .tradepoll .oitm {
		width: 23% !important;
		margin: 4px 1% !important;
	}

	.ld-match .oitm {
		width: 11.5%;
	}
}

.inventoryStatisticsBox {
	background: radial-gradient(#3a3a3a 15%, #333333 85%);
	margin: 8px 1%;
	width: 98%;
	padding: 0;
	color: #ccc;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.inventoryStatisticsBox #rarityValuesWrapper {
	float: none;
}

.inventoryStatisticsBox #rarityValuesWrapper:after,
.inventoryStatisticsBox #rarityValues:after {
	content: '';
	display: table;
	clear: both;
}

.inventoryStatisticsBox #totalInvValue,
.inventoryStatisticsBox #betSizeValues {
	background: rgba(255,255,255,0.02);
	float: none;
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid rgba(255,255,255,0.03);
}

.inventoryStatisticsBox #betSizeValues {
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.03);
	border-bottom: none;
	margin-top: 0;
}

.inventoryStatisticsBox #rarityValues {
	margin: 0;
	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.inventoryStatisticsBox .rarityContainer {
	border-top: 1px solid rgba(255,255,255,0.03);
	border-right: 1px solid rgba(255,255,255,0.03);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.inventoryStatisticsBox .rarityContainer:first-child,
.inventoryStatisticsBox .rarityContainer:nth-of-type(2) {
	border-top: none;
}

.inventoryStatisticsBox .rarityContainer:nth-of-type(even) {
	border-right: none;
}

.inventoryStatisticsBox .rarityContainer > div {
	padding: 15px 20px;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.oitm {
	margin: 4px 1.165%;
	min-width: 0;
	min-height: 54px;
	padding-bottom: 1px;
}

.item {
	background: #adb1b4;
	color: white;
	border: 1px solid #8b8d8f;

	-webkit-box-shadow: inset 0 10px 50px rgba(0,0,0,0.7);
	box-shadow: inset 0 10px 50px rgba(0,0,0,0.7);

	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.Souvenir,
.oitm:hover .item.Souvenir {
	border-color: #e7b848 !important;
}

.StatTrak,
.oitm:hover .item.StatTrak {
	border-color: #d67e1f !important;
}

.Star,
.oitm:hover .item.Star {
	border-color: #b171df !important;
}

@-webkit-keyframes warningPulse {
	0%		{background: #d12121;}
	50%		{background: #F75858;}
	100%	{background: #d12121;}
}

.Warning {
	-webkit-animation: warningPulse 2s infinite;
}

.oitm:hover .item {
	background: #595959;
	border-color: #5e5e5e;

	-webkit-box-shadow: inset 0 10px 50px rgba(0,0,0,0.9);
	box-shadow: inset 0 10px 50px rgba(0,0,0,0.9);
}

.oitm:hover .rarity {
	text-shadow: 0 1px 0 black;
}

.oitm:hover .name {
	opacity: 1;
	visibility: visible;
}

.oitm:hover .value {
	opacity: 1;
}

.item .smallimg {
	display: inline-block;
	margin: 2px 5%;
	width: 90%;
	vertical-align: middle;

	-webkit-animation: fadein 0.6s;
}

.item .smallimg[src*="fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz52YOLkDzRyTQmWAPRhW-cz8g7lBxg_7cNqQdr49bpVfVjst4SSNLcvYtAaHsLQUv-Fblr4vhltiKZeKcSPo3651CrtM3BKBUSNo3T8XA"],
.item .smallimg[src*="fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz52YOLkDzRyTQmWAPRhW-cz8g7lBxg67cZ1TZm0rr8ALAS-tNaTZbkuM4waScfSCfPXMgD7u0ox0acOeZSPqSrm3Cy7JC5UDOsCbsHU"],
.item .smallimg[src*="fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz52YOLkDzRyTQmWAPRhW-cz8g7lBxg-4cBrQJm39rlRKgy7toKTZ-EsYolOS8bRU_aPYgupuUg9iaELep2Ppyi72y7vJC5UDFSUDyoF"] {
	content: url("https://steamcommunity-a.akamaihd.net/economy/image/fWFc82js0fmoRAP-qOIPu5THSWqfSmTELLqcUywGkijVjZYMUrsm1j-9xgEObwgfEh_nvjlWhNzZCveCDfIBj98xqodQ2CZknz52YOLkDzRyTQmWAPRhW-cz8g7lBxg-4cBrQOi69qkBLBLtsYeUZ7gvZoxPG8OFC_7Tbl317ho51KQOJpGApSO73X_rPD1bDUK-5CtazxgA6RbO/99fx66f");
}

.item .smallimg[onerror*="gift"] {
	width: 100%;
	margin: 0;
}

.Consumer,
.Base,
.Industrial,
.Mil-Spec,
.Restricted,
.Classified,
.Covert,
.Extraordinary {
	background: linear-gradient(to top, rgba(0,0,0,0.35), transparent);
}

.appID730 .marketPriced .rarity,
.appID570 .marketPriced .rarity {
	background: linear-gradient(to top, rgba(0,0,0,0.35), transparent) !important;
	text-shadow: 0 1px 0 black;
}

.item .rarity {
	background: linear-gradient(to top, rgba(0,0,0,0.35), transparent) !important;
	left: -1px;
	right: -1px;
	bottom: 0;
	width: auto;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.7);
	color: white;
	line-height: 1rem;
	box-shadow: none;
	box-shadow: 0 2px #ccc;

	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

.item .rarity[style]:not(.Consumer),
.item .rarity[style]:not(.Base),
.item .rarity[style]:not(.Industrial),
.item .rarity[style]:not(.Mil-Spec),
.item .rarity[style]:not(.Restricted),
.item .rarity[style]:not(.Covert),
.item .rarity[style]:not(.Extraordinary),
.item .rarity.Any {
	background: none;
}

.item .rarity.Consumer, .item .rarity.Base { box-shadow: 0px 2px #b3cdea; }
.item .rarity.Industrial { box-shadow: 0px 2px #76abe7; }
.item .rarity.Mil-Spec { box-shadow: 0px 2px #4b69ff; }
.item .rarity.Restricted { box-shadow: 0px 2px #943fff; }
.item .rarity.Classified { box-shadow: 0px 2px #d32ce6; }
.item .rarity.Covert, .item .rarity.Extraordinary { box-shadow: 0px 2px #eb4b4b; }

.clreff {
	background: url('http://i.imgur.com/rFn7M2T.png') center center no-repeat;
	background-size: 100%;
	float: none;
	padding: 0;
	text-indent: -9999em;
	width: 21px;
	height: 21px;
	bottom: 1.6em;
	left: 4px;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.value {
	background: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.7);
	font-weight: normal;
	color: white;
	right: auto;
	display: block;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	opacity: 1;
	z-index: 1;

	-webkit-transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	transition: opacity 0.1s;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.ld-item-price-show .value {
	opacity: 0;
}

.name {
	background: linear-gradient(to top, #0e0e0e, rgb(8, 8, 8));
	border: none;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.8);
	color: rgba(255,255,255,0.5);
	text-align: center;
	padding: 10px 14.5px;
	cursor: default;
	opacity: 0;
	display: block;
	visibility: hidden;
	top: 100%;
	min-width: 190px;

	border-radius: 4px;
	-webkit-border-radius: 4px;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: opacity 0.15s;
	transition: opacity 0.15s;

	-webkit-box-shadow: inset 0px 10px 40px rgba(0,0,0,0.3);
	box-shadow: inset 0px 10px 40px rgba(0,0,0,0.3), 0px 10px 30px rgba(0,0,0,0.2);
}

.name b {
	color: #ccc;
}

.name i {
	display: block;
	margin-bottom: -8px;
}

.name i:before,
.name i:after {
	content: '';
	background: rgba(255,255,255,0.5);
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 2px 2px 0;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.name i:after {
	margin: 0 0 2px 6px;
}

.name .refreshPriceMarket,
.name a[onclick],
.name a[href] {
	color: #e89300;
	text-shadow: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.name .refreshPriceMarket:hover,
.name a[onclick]:hover,
.name a[href]:hover {
	color: #ffae22;
}

/*
* -- End: Items
*/

.box {
	background: none;
	margin: 15px 1%;
	width: 48%;
	padding: 0;

	-webkit-box-shadow: none;
	box-shadow: none;
}

.box.notavailable {
	opacity: 1;
}

.box.notavailable:first-child:before {
	content: 'This trade is closed!';
	background: #b72a2a;
	color: white;
	font-size: 14px;
	text-align: center;
	display: block;
	padding: 8px 10px;
	margin-bottom: 7px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/*
* -- Trades, Bets
*/

.user b {
	margin-left: -0.25em;
}

.ld-trade .box:nth-of-type(2) a.user {
	color: white;
}

.ld-trade .box:nth-of-type(2) #replyTo + .left {
	background: radial-gradient(#3a3a3a 15%, #333333 85%);
	margin: 5px 8px 8px 0;
	width: 100%;
}

.ld-trade .box:nth-of-type(2) .oitm {
	margin: 4px .5%;
}

.msgright {
	margin: 0 0 10px 0;
	width: 50%;
}

.ld-myprofile .notavailable {
	opacity: 0.7;
}

.notavailable {
	opacity: 0.5;
}

#backpack:after {
	content: '';
	display: table;
	clear: both;
}

#backpack .standard {
	line-height: 20px;
}

#backpack .standard + .button {
	float: none;
	display: inline-block;
}

#backpack {
	text-align: center;
}

a[onclick*="setBackpackCurl"]:not(.tab) {
	text-shadow: none;
}

#bets {
	margin: 0;
	color: #939393;
}

.inventory-loading-wrapper #LDerr {
	color: #bbb;
	line-height: 16px;
}

#bets:after {
	content: '';
	display: table;
	clear: both;
}

.winsorloses {
	background: radial-gradient(#3a3a3a 15%, #333333 85%);
	display: inline-block;
	width: 48.5%;
	padding: 0.15em;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;

	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.winsorloses:nth-of-type(odd) {
	margin-right: 0;
}

.winsorloses .oitm {
	width: 31%;
}

.betheader {
	background: rgba(255,255,255,0.02);
	margin: 0;
	width: calc(100% - 1.2em);
	padding: .5em 0.75em;
	margin: -.15em -.15em 0 -.15em;
	border-bottom: 1px solid rgba(255,255,255,0.03);
}

.betheader .user {
	color: #ccc;
}

.message {
	-webkit-box-shadow: none;
	box-shadow: none;
}

#tradediv {
	display: inline-block;
	width: 100%;
	margin-top: 7px;
}

#tradediv:after {
	content: '';
	display: table;
	clear: both;
}

.tradepoll {
	margin: 0 0 20px 0;
	width: 100%;
}

.tradeheader a img {
	margin-bottom: -2px;
}

.tradeheader,
.bpheader,
.tradeheader > a,
.bpheader > a {
	text-shadow: none;
	color: #999;
}

.tradeheader > a[onclick],
.bpheader > a[onclick] {
	margin-bottom: -2px;
}

.matchheader {
	line-height: normal;
}

.tradeheader,
.bpheader {
	line-height: 36px;
}

.matchheader,
.tradeheader,
.bpheader {
	background: radial-gradient(#3a3a3a 15%, #333333 85%);
	border: none;
	font-size: 13px;
	padding: 0 10px;
	width: 100%;
	margin-bottom: 7px;
	position: relative;
	min-height: 36px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tradeheader a {
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.matchheader hr,
.tradeheader hr,
.bpheader hr {
	display: none;
}

.matchheader span:not([class]),
.matchheader font:not([class]) {
	text-shadow: none;
}

.matchheader .button,
.matchheader .buttonright,
.tradeheader .button,
.tradeheader .buttonright,
.bpheader .button,
.tradeheader span .button,
.bpheader .buttonright {
	margin: 4px -6px 2px 10px;
	line-height: 24px;
}

.matchheader .button,
.tradeheader .button,
.bpheader .button {
	margin: 4px 10px 2px -6px;
}

.matchheader .buttonright,
.tradeheader .buttonright,
.bpheader .buttonright {
	float: right;
}

.tradecnt .left,
.tradecnt .right {
	background: #333;
	margin-bottom: 0;
}

div.trade-description {
	background: none;
	padding: 0;
	margin: 7px 0;
}

div.trade-description a {
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
	color: #CB8203;
	font-weight: bold;
}

div.trade-description a:hover {
	text-decoration: underline;
}

div.trade-description p,
.tradepoll:hover div.trade-description p {
	background: radial-gradient(#3a3a3a 15%, #333333 85%);
	font-size: 13px;
	padding: 7px 10px;
	line-height: 17px;
	width: 100%;
	color: rgb(153, 153, 153);
	border: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	word-break: break-all;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.trade-description p:empty {
	display: none;
}

.matchheader {
	display: table;
}

.whenm,
.eventm {
	display: table-cell;
	vertical-align: middle;
	float: none;
	width: 50%;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	padding: 5px 0;
}

.eventm {
	text-align: right;
}

.match,
.winnings {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: none;
	box-shadow: none;
}

.match .matchleft,
.winnings .matchleft {
	display: table;
}

.match .matchleft a,
.winnings .matchleft a {
	display: table-row;
}

.team[style*="TBD"] {
	background: url('http://i.imgur.com/lfF85da.png') center center no-repeat;
}

.match .matchleft a > div,
.winnings .matchleft a > div {
	display: table-cell;
	float: none;
	margin: 0;
	vertical-align: middle;
	height: 50px;
}

.match a {
	color: #333333;
	text-shadow: none;
}

.ld-match .matchleft div[style*="margin-top: 0.6em"],
.winnings .matchleft div[style*="margin-top: 0.6em"] {
	margin-top: 1em;
}

.ld-match .box-shiny-alt hr {
	visibility: hidden;
}

.ld-match .box:nth-of-type(2) .box-shiny-alt .winsorloses {
	background: #4a4a4a;
	width: 55.3%;
	margin: 10px 0 0 0;
}

.ld-match .box:nth-of-type(2) .box-shiny-alt .winsorloses .oitm {
	width: 22.6%;
	margin: 4px 1.165% 5px;
}

.ld-match .box:nth-of-type(2) .box-shiny-alt .full + hr + .full {
	margin-top: 10px;
}

#modalPreview a[class*="button"] {
	position: absolute;
	right: 10px;
	top: 10px;
	margin: 0;
}

#modalPreview {
	background: #333;
	margin: 0;
	z-index: 2000;
	width: 90%;
	max-width: 700px;
	text-align: center;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	-webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.5);
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

#modalImg {
	width: 511.9px;
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
}

.box-shiny-alt > div[style*="display: flex"] {
	background: rgba(255,255,255,0.03);
	width: calc(100% + 30px);
	height: 35px;
	margin: -15px 0 20px -15px;
	display: table;
	border-bottom: 1px solid rgba(255,255,255,0.1);

	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.box-shiny-alt > div[style*="display: flex"] > div {
	display: table-cell;
	float: none;
	vertical-align: middle;
	padding: 0 15px;
	width: 33.3333%;
}

.box-shiny-alt > div[style*="display: flex"] > div:nth-of-type(2) {
	background: rgba(255,255,255,0.03);
}

.ld-match div[style*="line-height: 1.5rem"],
.ld-trade div[style*="line-height: 1.5rem"] {
	border: none;
	background: #4C4C4C;
	color: white;
	margin: 0 0 20px 0;
	padding: 0.5em 1em;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.ld-trade div[style*="line-height: 1.5rem"] {
	margin: 15px 0 20px 0;
}

.ld-match .box-shiny-alt > a:not(.buttonright) {
	display: table;
	width: 45%;
	float: left;
	height: 54px;
	text-shadow: none;
	margin-bottom: 20px;
	cursor: default;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.ld-match .box-shiny-alt > a:not(.buttonright)[onclick*="selectTeam"] span:hover,
.ld-match .box-shiny-alt > a:not(.buttonright).active span {
	background: linear-gradient(to right, rgba(255,255,255,0.1), transparent);
	cursor: pointer;
}

.ld-match .box-shiny-alt a[onclick*="selectTeam"]:not(.buttonright) span[style*="text-align: right"]:hover,
.ld-match .box-shiny-alt a.active span[style*="text-align: right"] {
	background: linear-gradient(to left, rgba(255,255,255,0.1), transparent);
	cursor: pointer;
}

.ld-match .box-shiny-alt > a:not(.buttonright) span {
	width: auto;
	float: none;
	display: table-cell;
	vertical-align: middle;

	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.ld-match .box-shiny-alt > a:not(.buttonright) span[style*="text-align: right"] {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.ld-match .box-shiny-alt > a:not(.buttonright) .team {
	box-shadow: none;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ccc;
	border: 2px solid #ccc;

	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

.ld-match .box-shiny-alt > a:not(.buttonright).active .team {
	border-color: #e89300;
}

.ld-match .box-shiny-alt > a:not(.buttonright) b {
	margin: 9px 0 2px 0;
	display: inline-block;
	font-weight: normal;

	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

.ld-match .box-shiny-alt > a:not(.buttonright).active b {
	font-weight: bold;
	text-decoration: none;
}

.ld-match .box-shiny-alt > a:not(.buttonright) i {
	font-size: 15px;
}

.ld-match .box-shiny-alt > a:not(.buttonright) + span {
	line-height: 54px;
	margin: 0;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
	cursor: default;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.ld-match .box-shiny-alt > a:not(.buttonright) + .full {
	line-height: 19px;
}

.ld-match .box-shiny-alt > a:not(.buttonright) + .full .half + .half {
	text-align: right;
}

.ld-match .box-shiny-alt > a:not(.buttonright) + .full .half > * {
	margin: 0;
}

#teamA,
#teamB,
.yourVal {
	font-weight: bold;
}

#betpoll + .buttonright,
.ld-predict .buttonright {
	float: none;
	display: inline-block;
	position: relative;
	left: 50%;
	margin: 0;
	
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.ld-predict .buttonright {
	margin-top: 1em;
	margin-bottom: 1em;
}

#betpoll + .buttonright + div img {
	margin-top: 1em;
}

/*
* -- End: Trades, Bets
*/

.left,
.right {
	background: #D2D2D2;

	-webkit-box-shadow: none;
	box-shadow: none;
}

.box-shiny-alt + div[style] {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.box-shiny-alt + div[style] .tab:first-child {
	-webkit-border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
}

.box-shiny-alt + div[style] .tab:last-child {
	-webkit-border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0
}

.tabselect {
	margin: 0 2% 11px 2%;
}

a.tab {
	text-shadow: none;
	color: #bbb;
	line-height: 30px;

	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.tab {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.tab:hover {
	background: #3a3a3a;
}

.ld-predict #betpoll .left {
	width: 25%;
}

.ld-predict #betpoll .left .oitm {
	width: 47.5%;
}

.box:first-child > div[style*="predict"] {
	padding-top: 175px;
}

.box:nth-of-type(2) > div[style*="predict"] {
	background-size: 100% auto;
	padding: 170px 15px 15px 15px;
	box-sizing: border-box;
}

.box:nth-of-type(2) > div[style*="predict"] + div[style*="predict"] {
	min-height: 197px;
	padding: 0;
}

.box:nth-of-type(2) > div[style*="predict"] + div[style*="predict"] > a {
	height: 197px;
}

.box:first-child div[style*="predict"] + div[style*="border-radius"],
.ld-match .box-shiny-alt + div[style*="border-radius"],
#stream + div[style*="border-radius"] {
	display: table;
	width: 96%;
}

.box:first-child div[style*="predict"] + div[style*="border-radius"] > a,
.ld-match .box-shiny-alt + div[style*="border-radius"] > a,
#stream + div[style*="border-radius"] > a {
	width: 33.3333%;
	display: table-cell;
	vertical-align: middle;
	float: none;
}

.tabselect .tab {
	width: 100%;
}

.subtabs .tab {
	border-top: 1px solid #4C4C4C;
}

.subtabs .tab:last-child {
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

/*
* -- Buttons
*/

a[class*="button"][style*="display: none"],
a[class*="button"][style*="display:none"] {
	display: none;
}

a[class*="button"] {
	text-shadow: none;
	color: #e89300;
}

a[class*="button"]:hover {
	text-shadow: none;
}

.button,
.buttonright {
	background: none;
	padding: 0px 10px;
	text-shadow: none;
	border: 2px solid #e89300;
	font-size: 13px;
	font-weight: bold;
	line-height: 27px;
	margin: .4em .8em .4em 0;
	display: inline-block;
	width: auto;

	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;

	-webkit-box-shadow: none;
	box-shadow: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.button *,
.buttonright * {
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

.button:hover,
.buttonright:hover {
	background: #e89300;
	color: white !important;
	text-shadow: none;
}

.button:hover *,
.buttonright:hover * {
	color: white !important;
	text-shadow: none;
}

.buttonright {
	margin: .4em 0 .4em .8em;
}

#bets .button {
	width: 100%;
	margin: 0 0 15px 0;
	float: none;
	display: block;
}

/*
* -- End: Buttons
*/

#satrade,
.box-shiny-alt,
.box-shiny {
	background: linear-gradient(to bottom, #272727, #333);
	width: 100%;
	padding: 15px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	position: relative;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.07);
	box-shadow: 0 2px 5px rgba(0,0,0,0.07);
}

.standard,
.box-shiny + .full {
	color: #939393;
}

.full {
	width: 100%;
}

.half {
	width: 50%;
}

br + .half,
br + .half + .half,
br + .full {
	margin-top: 10px;
}

.half,
.full {
	margin: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
* -- Title
*/

.title[style*="trades.png"],
.title[style*="bets.png"] {
	display: none;
}

.title {
	text-transform: uppercase;
	position: static;
	height: 60px;
	line-height: 60px;
	margin: 0;
	font-size: 25px;
	cursor: default;
	color: rgba(255,255,255,0.7);
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	float: none;
	width: 100%;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.title + div[style] {
	margin: 0;
}

.title a {
	display: block;
}

.title:hover a {
	text-shadow: none;
}

.standard {
	margin: 0 0 12px 0;
	float: none;
	width: 100%;
}

.standard:after {
	content: '';
	display: table;
	clear: both;
}

/*
* -- End: Title
*/

/*
* -- LD Modal, Trade page
*/

#preview {
	background: rgb(36,36,36);
}

#preview .box-shiny-alt {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

#preview #tradediv { 
	padding: 0 7px 7px 7px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#preview #tradediv .tradepoll,
.ld-trade #tradediv .tradepoll {
	min-height: 0;
	margin-bottom: 0;
}

#preview #tradediv .message,
.ld-trade #tradediv .message {
	margin: 7px 0 0 0;
}

#preview .half[style*="float: right"],
.ld-trade .half[style*="float: right"] {
	float: none;
	width: 100%;
	text-align: center;
	clear: both;
	display: inline-block;
	margin-top: 11px;
}

#preview .half[style*="float: right"] .buttonright,
.ld-trade .half[style*="float: right"] .buttonright {
	float: none;
	display: inline-block;
}

.ld-profile #profile .half:first-child {
	width: 59%;
}

.ld-profile #profile .box-shiny-alt > div[style]:not(.half) {
	margin: 9px 5px 0 0;
}

.ld-profile #profile .box-shiny-alt > div[style]:not(.half) div[style*="float: left"] > div:first-child {
	margin-top: 4px;
}

.ld-profile #profile .box-shiny-alt .half[style*="float:right"] {
	width: 110px;
	margin-left: 2%;
}

.ld-profile #profile .box-shiny-alt .half[style*="float:right"] .button {
	display: block;
	clear: both;
	margin: 0;
	width: 100%;

	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.ld-profile #profile .box-shiny-alt .half[style*="float:right"] .button + .button {
	border-top: transparent;

	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

.ld-profile #profile #reputation-minus,
.ld-profile #profile #reputation-plus {
	height: auto;
	width: 400px;
}

#reputation-vote {
	margin: 0 0 0 5px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: none;
	box-shadow: none;
}

#reputation-vote a {
	text-shadow: none;
	padding: 0;
	line-height: 22px;
	font-weight: bold;
	color: rgba(0,0,0,0.5);

	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

#reputation-vote a[onclick*="plus"] {
	background: #e89300;
}

#reputation-vote a[onclick*="plus"]:hover {
	background: #FFA200;
}

#reputation-vote a[onclick*="minus"] {
	background: #696969;
}

#reputation-vote a[onclick*="minus"]:hover {
	background: #777777;
}

.ld-trade textarea {
	height: 100px;
}

/*
* -- End: LD Modal
*/

/*
* -- Disqus
*/

#disqus_thread {
	background: radial-gradient(#3a3a3a 15%, #333333 85%);
	padding: 8px 20px;
	margin-bottom: 15px;
	color: #ffffff;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

/*
* -- End: Disqus
*/

/*
* -- Bet history
*/

#ajaxCont {
	margin-top: 10px;
}

#ajaxCont table {
	background: #333333;
	border-collapse: collapse;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#ajaxCont table tbody > tr {
	background: #333333;
	height: 30px;
}

#ajaxCont table tbody > tr:first-child > td:first-child {
	padding: 4px 4px 4px 6px;
	-webkit-border-radius: 3px 0 0 0;
	-moz-border-radius: 3px 0 0 0;
	border-radius: 3px 0 0 0;
}

#ajaxCont table tbody > tr:first-child > td:last-child {
	-webkit-border-radius: 0 3px 0 0;
	-moz-border-radius: 0 3px 0 0;
	border-radius: 0 3px 0 0;
}

#ajaxCont table tbody > tr:not([class]) > td {
	line-height: 30px;
	font-size: 14px;
	padding: 4px;
}

#ajaxCont table tbody > tr:not([class]) > td:nth-of-type(3),
#ajaxCont table tbody > tr:not([class]) > td:nth-of-type(4),
#ajaxCont table tbody > tr:not([class]) > td:nth-of-type(5) {
	padding: 0 !important;
}

#ajaxCont table tbody > tr > td {
	vertical-align: middle;
}

#ajaxCont table tbody > tr[class] {
	height: auto;
}

#ajaxCont table tbody > tr:not([class]) + tr + tr > td {
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.03);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.03);
}

#ajaxCont table tbody > tr:not([class]):nth-of-type(even),
#ajaxCont table tbody > tr:not([class]):nth-of-type(even) + tr,
#ajaxCont table tbody > tr:not([class]):nth-of-type(even) + tr + tr {
	background: #3a3a3a;
}

#ajaxCont table tbody > tr[class]:nth-of-type(even) td {
	padding: 0;
}

#ajaxCont table tbody > tr[class] > td:nth-of-type(2) {
	padding: 4px;
}

#ajaxCont table tbody > tr > td > span {
	text-shadow: none;
	display: inline-block;
	background: #555555;
	color: #aeaeae;
	font-weight: bold;
	padding: 3px 15px;
	line-height: normal;
	width: 100%;
	text-transform: uppercase;
	font-size: 13px;
	cursor: default;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#ajaxCont table tbody > tr > td > span.lost {
	background: #962c2c;
	color: white;
	text-shadow: rgba(0,0,0,0.2);
}

#ajaxCont table tbody > tr > td > span.won {
	background: #629e2d;
	color: white;
	text-shadow: rgba(0,0,0,0.2);
}

#ajaxCont table tbody > tr td > a[onclick] {
	padding: 0 7px;
	font-weight: bold;
	display: block;
	background: rgba(0,0,0,0.1);
	line-height: 24px;

	-webkit-border-radius: 3px;
	border-radius: 3px;

	-webkit-transition: all 0.1s;
	transition: all 0.1s;

	-webkit-user-select: none;
	user-select: none;
}

#ajaxCont table tbody > tr td > a[href] {
	display: block;
	padding: 4px;
}

#ajaxCont table tbody > tr td > a[onclick]:hover {
	background: rgba(0,0,0,0.2);
}

#ajaxCont table tbody > tr:not([class]) > td:first-child {
	padding: 4px 4px 4px 6px;
}

#ajaxCont table tbody > tr:not([class]) > td:last-child {
	float: none;
	text-align: right;
	padding: 4px 10px;
}

#ajaxCont table tbody > tr > td > a {
	color: #ccc;
}

/*
* -- End: Bet history
*/

/*
* -- Donors
*/

[class*="donor"] {
	text-shadow: none;
}

.donor {
	color: #5e98d9;
}

.donor2 {
	color: #4b69ff;
}

.donor3 {
	color: #8847ff;
}

.donor4 {
	color: #ffaf00;
}

.donorUq2 {
	color: #0ff;
}

.donorUq3 {
	color: #00a803;
	/*color: rgb(47, 167, 240);*/
}

.donorUq4 {
	color: #f0f;
}

.staff {
	text-shadow: none;
	color: #ED8D20;
}

.sr {
	text-shadow: none;
	color: #e71c1c;
}

/*
* -- End: Donors
*/

.slvl {
	box-shadow: -5px 0px 0px #3A3A3A;
}

/*
* -- Inputs
*/

br + .selectbox {
	margin-top: 10px;
}

.selectbox {
	background: #494949;
	padding: 7px 11px;
	height: 31px;
	border: 1px solid #5a5a5a;
	margin: 4px 0;
	color: #d7d7d7;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.1);

	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.05)
	box-shadow: 0px 2px 3px rgba(0,0,0,0.05)

	-webkit-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all 0.15s;
	transition: all 0.15s;
}

.selectbox:focus {
	background: #444444;
}

*:focus {
	outline: none;
}

select.selectbox {
	cursor: pointer;
	background: #5a5a5a;
	border-color: transparent;
	padding: 7px 9px;

	-webkit-box-shadow: none;
	box-shadow: none;
}

select.selectbox:focus {
	background: #666;
}

input.selectbox[style] {
	width: 100%;
}

div.message {
	background: radial-gradient(#3a3a3a 15%, #333333 85%);
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

div.message a {
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
	color: #CB8203;
	font-weight: bold;
}

div.message a:hover {
	text-decoration: underline;
}

.message {
	background: #414141;
	padding: 7px 14px;
	margin: 4px 0;
	color: #d7d7d7;
	width: 100%;
	padding: 11px 15px;
	font-size: .8rem;
	resize: none;

	-webkit-transition: height 0.15s;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.message p {
	margin-bottom: 0;
}

textarea#notes {
	height: 55px;
}

textarea#notes:focus {
	height: 350px;
}

/*
* -- End: Inputs
*/

a.info {
	color: #333;
	cursor: help;
}

.info {
	text-align: center;
	padding: 0;
	border: none;
	padding: 1px 4px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.message:hover .opts,
.info:hover .infobox {
	color: #777;
	padding: .5rem .8rem;
	text-shadow: none;
	background: #eee;
	line-height: 15px;
	margin-top: 1px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

/*
* -- My profile
*/

.ld-myprofile #profile .full {
	margin-top: 15px;
}

.ld-myprofile #profile .full .button {
	margin-top: 13px;
}

.ld-myprofile #profile #avatar {
	margin: 0;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.ld-myprofile #profile div[style*="line-height: 1.4em"] {
	margin: 1px 15px;
	line-height: 1.5em;
}

.ld-myprofile #profile .buttonright {
	margin: 0;
}

.ld-myprofile #profile h1 {
	font-weight: bold;
}

.ld-myprofile .box-shiny {
	padding-bottom: .2em;
}

.ld-myprofile .box-shiny .button {
	margin: 0 .8em .8em 0;
}

/*
* -- End: My profile
*/

/*
* -- Search
*/

.ld-addtrade .box-shiny a.tab:first-child,
.ld-search .box-shiny a.tab:first-child {
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

.ld-addtrade .box-shiny a.tab:nth-of-type(2),
.ld-search .box-shiny a.tab:nth-of-type(2) {
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

/*
* -- End: Search
*/

/*
* -- LoungeStats fixes
*/

#loungestats_fullscreenbutton {
	height: auto;
	margin-top: .5rem;
}

hr {
	border: none;
	border-top: 1px solid rgba(255,255,255,0.03);
	width: 100%;
	margin: 10px 0;
}

#queue {
	background: #5E5E5E;
	color: #E4E4E4;
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	padding: 10px 15px;
	width: 200px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: inset 0 20px 60px rgba(0,0,0,0.2), 0 0 14px rgba(0,0,0,0.3);
	box-shadow: inset 0 20px 60px rgba(0,0,0,0.2), 0 0 14px rgba(0,0,0,0.3);
}

#queue:focus {
	display: none;
}

#queue img {
	margin: 0;
}

#queue .info {
	color: #333;
}

#queue a:not(.button):not(.info) {
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	color: #e89300;
	font-weight: bold;
}

#queue .button {
	background: #e89300;
	display: inline-block;
	position: relative;
	left: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	border-color: transparent;

	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

#queue .button:hover {
	background: #d98b05;
}

.potwin {
	padding: 5px 9px;
	display: inline-block;
	line-height: normal;
	margin: 3px 1%;
	color: #ED8D20;
}

.ld-mybets .box:first-child .name i {
	margin-bottom: 7px;
}

.ld-mybets .full.total-bet {
	margin-bottom: -6px;
}

.ld-mybets .box:first-child .full span {
	line-height: 30px;
	width: 135px;
	display: inline-block;
	margin-left: 3px;
}

.ld-mybets .matchheader {
	line-height: 38px;
}

.ld-mybets .matchheader .eventm,
.ld-mybets .matchheader .whenm {
	padding: 0;
}

.ld-mybets .matchheader .changeteam {
	display: none;
	float: right;
	width: auto;
	margin: 4px -6px 0 13px;
}

.ld-mybets .matchheader .changeteam[style*="display: inline"],
.ld-mybets .matchheader .changeteam[style*="display:inline"] {
	display: inline-block;
}

.ld-mybets .match,
.ld-mybets .winnings {
	background: radial-gradient(#3a3a3a 15%, #333333 85%);
	padding: 10px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ld-mybets .match a,
.ld-mybets .winnings a {
	color: #e89300;
}

.ld-mybets .winsorloses {
	background: none;
}

.ld-mybets .winsorloses:nth-of-type(2) {
	margin: 1px 0 13px 0;
	width: 50%;
}

.ld-mybets .winsorloses:nth-of-type(2) .oitm {
	width: 24%;
	margin: 4px .5%;
}

.ld-mybets .winsorloses:first-child,
.ld-mybets .half {
	display: table;
	width: 50%;
	min-height: 67px;
	margin: 0;
}

.ld-mybets .winsorloses > a,
.ld-mybets .half > a {
	display: table-row;
}

.ld-mybets .winsorloses span,
.ld-mybets .half span {
	width: 45%;
	display: table-cell;
	vertical-align: middle;
	float: none;
	position: relative;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

.ld-mybets .winsorloses span:nth-of-type(2),
.ld-mybets .half span:nth-of-type(2) {
	width: 10%;
}

.ld-mybets .standard {
	float: left;
}

.ld-mybets .winsorloses span *,
.ld-mybets .half span * {
	position: relative;
	z-index: 10;
}

.ld-mybets .winsorloses i + br,
.ld-mybets .half i + br {
	display: none;
}

.ld-mybets .winsorloses span i + br + i,
.ld-mybets .half span i + br + i {
	background: linear-gradient(to top, rgba(255,255,255,0.03), rgba(255,255,255,0.04));
	text-indent: -999em;
	display: inline-block;
	position: absolute;
	left: 12px;
	top: 6px;
	right: 12px;
	bottom: 6px;
	z-index: 0;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.ld-mybets .winsorloses hr,
.ld-mybets .match hr {
	margin-left: -10px;
	width: calc(100% + 20px);
}

img[src*="loading"] {
	margin: auto;
}

.simplePagerNav {
	margin: 20px auto 0 auto;
	display: inline-block;
}

.simplePagerNav li {
	line-height: 28px;
	margin: 0 4px 4px 0;
}

.simplePagerNav li.currentPage a,
.simplePagerNav li.currentPage a:hover {
	background: #e89300;
	opacity: 1;
	color: white;
	cursor: default;
}

.simplePagerNav li a {
	background: #333;
	display: inline-block;
	float: none;
	height: auto;
	min-width: 24px;
	padding: 0 4px;
	text-shadow: none;
	margin: 0;
	color: #ccc;
	font-size: 15px;

	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;

	-webkit-box-shadow: none;
	box-shadow: none;
}

.simplePagerNav li a:hover {
	background: #414141;
}

.ld-main .simplePagerNav li:last-child a {
	padding: 0 10px;
}

.ld-trade #messages {
	margin-top: -4px;
}

.ld-profile .box:nth-of-type(2) {
	margin-top: -4px;
}

.left, .right {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#loading {
	display: inherit;
	margin: 0.75em auto;
	clear: both;
}

#loading[style*="display: none"],
#loading[style*="display:none"] {
	display: none;
}

section {
	margin: 0;
	padding: 0;
}

.button.live-preview {
	margin: 4px -6px 4px 0;
}

.ld-trades #preview {
	background: #d7d7d7;
	position: fixed;
	right: 1%;
}

/*
* -- Donations (/donations)
*/

#replist {
	background: #333333;
	overflow: hidden;
	margin: 0;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#replist a {
	display: block;
	background-position: 8px center;
	padding: 4px 10px 4px 30px;
}

#replist li {
	font-size: 14px;
	line-height: 30px;
}

#replist li:nth-child(even) {
	background: #3a3a3a;
}

#replist a span {
	font-weight: bold;
}

.ld-donations .title + div {
	line-height: 20px;
}

.ld-donations span[style*="text-shadow: 0px 1px 1px #5E98D9"] {
	text-shadow: none;
	color: #5E98D9;
}

.ld-donations span[style*="text-shadow: 0px 1px 1px #4B69FF"] {
	text-shadow: none;
	color: #4B69FF;
}

.ld-donations span[style*="text-shadow: 0px 1px 1px #8847FF"] {
	text-shadow: none;
	color: #8847FF;
}

/*
* -- End: Donations (/donations)
*/

/*
* -- Rules (/rules)
*/

/*
* -- End: Rules (/rules)
*/