.selectbox, textarea.message, .destroyer.auto-info input, .modal input, .ld-settings input
    background: rgba(0,0,0,0.08)
    padding: 5px 10px !important
    border: 1px solid rgba(255,255,255,0.1)
    text-shadow: 0 1px 0 rgba(0,0,0,0.1)
    color: $body-font-color
    vertical-align: middle
    +border-radius(2px)
    +box-sizing(border-box)
    +transition(all 0.2s)

    +placeholder
        color: $body-font-color
        +transition(all 0.2s)

    &:hover
        color: lighten($body-font-color, 5%)
        background: rgba(0,0,0,0.12)
        text-shadow: 0 1px 0 rgba(0,0,0,0.18)
        border-color: rgba(255,255,255,0.12)
        +box-shadow(inset 0 1px 3px rgba(0,0,0,0.08))

        +placeholder
            color: lighten($body-font-color, 5%)

    &:focus
        color: lighten($body-font-color, 10%)
        background: rgba(0,0,0,0.14)
        text-shadow: 0 1px 0 rgba(0,0,0,0.18)
        border-color: rgba(255,255,255,0.13)
        +box-shadow(inset 0 3px 8px rgba(0,0,0,0.13))

        +placeholder
            color: lighten($body-font-color, 10%)

select
    cursor: pointer
    vertical-align: middle

    &.selectbox
        height: 30px
        padding: 0 6px !important

        option
            background: #f0f0f0
            color: #4a4a4a

textarea
    resize: none
    vertical-align: middle

    &.message
        width: 100% !important
        display: block
        margin: 0 !important
        height: 70px !important

.ld-settings
    .m8 .input-field a
        right: 0
    .m8 .input-field a:nth-child(2)
        right: 50px
    .input-field
        height: 55px
        position: relative
    input, label, .input-field a, .input-field p, .input-field select
        position: absolute
    input, .input-field p, .input-field select
        top: 18px
        width: 100%
    label
        top: 0
    p
        margin: 3px 0 0 0
    p input, p label
        display: inline-block
        width: auto
        vertical-align: top
        position: static
        line-height: 30px
    p input
        margin-right: 5px
        height: 30px
